$about-service-min-height: 352px;

.about-service {
  position: relative;
  z-index: 9;

  min-height: $about-service-min-height;
  padding: 2.05em var(--page-padding--wider) 63px;
  margin: 0;

  border-radius: 0 0 var(--section-br) var(--section-br);
  background-color: var(--main-color--lighter);

  overflow: hidden;
}

.about-service__bg {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;

  &::before,
  &::after {
    content: "";
    position: absolute;

    height: 132px;

    border-radius: 20px;
    background-color: var(--main-color--darker3);
  }

  &::before {
    top: 0;
    left: -20px;

    width: calc(100% - 187px);
  }

  &::after {
    bottom: 24px;
    right: 190px;

    width: calc(50% - 80px);
  }
}

.about-service__bg-img {
  position: relative;
  z-index: 1;

  display: block;
  width: 292px;
  height: 352px;
  margin-left: auto;
  margin-right: 10px;
}

.about-service__heading {
  position: relative;
  z-index: 1;

  padding: 0;
  margin: 0;
  margin-bottom: 0.78em;
}

.about-service__paragraph {
  position: relative;
  z-index: 1;

  max-width: 250px;
  padding: 0;
  margin: 0 0 1.2em;

  font-weight: 300;
  line-height: 137%;
  color: var(--ternary-color);
}

.about-service__paragraph--bolder {
  font-weight: 700;
}

.about-service__button {
  display: none;
}

///////////////////////////////////
//     Раскладка на планшете     //
///////////////////////////////////

@media (min-width: $tablet-width) {
  $about-service-min-height: 670px;

  .about-service {
    min-height: $about-service-min-height;
    padding: 2.4em var(--page-padding--wider) 90px;
  }

  .about-service__bg {
    &::before {
      left: var(--page-padding);

      width: calc(100% - var(--page-padding) * 2);
      height: 212px;
    }

    &::after {
      display: none;
    }
  }

  .about-service__bg-img {
    position: absolute;
    top: 49px;
    right: calc(20% - 157px);

    width: 376px;
    height: 548px;
  }

  .about-service__paragraph {
    width: calc(100% - 300px);
    max-width: 500px;

    font-size: 1.75rem;
    line-height: 118%;
  }

  .about-service__paragraph--bolder {
    width: calc(100% - 340px);
    max-width: 350px;
    margin-bottom: 2.4em;

    font-size: 1.3125rem;
    line-height: 119%;
  }

  .about-service__button {
    display: block;

    width: calc(100% - 344px);
    max-width: 330px;
  }

  // Дополнительные правила для лучшего отображения на
  // шести-семидюймовых планшетах
  @media (max-width: $tablet-width + 99px) {
    .about-service__bg-img {
      transform: scale(0.75) translateX(20px);
    }
    .about-service__paragraph {
      width: calc(100% - 220px);
    }

    .about-service__button {
      width: calc(100% - 265px);
    }
  }
}

///////////////////////////////////
//     Раскладка на десктопе     //
///////////////////////////////////

@media (min-width: $desktop-width) {
  $about-service-min-height: 750px;

  .about-service {
    min-height: $about-service-min-height;
    padding: 8em var(--page-padding--wider) 160px;
  }

  .about-service__heading {
    margin-bottom: 1.22em;
  }

  .about-service__bg {
    top: unset;
    bottom: $about-service-min-height;

    &::before {
      top: 70px;
      left: calc(20% - 228px);

      width: 212px;
      height: 212px;
    }
  }

  .about-service__bg-img {
    top: 85px;
    right: calc(var(--page-padding--wider) - 80px);

    width: 630px;
    height: 665px;
  }

  .about-service__paragraph {
    width: 53%;
    margin-bottom: 1.4em;

    max-width: 800px;
  }

  .about-service__paragraph--bolder {
    width: 40%;
    max-width: 450px;
    margin-bottom: 4em;
  }

  .about-service__button {
    width: 274px;
  }
}
