.button {
  position: relative;

  justify-content: center;
  align-items: center;

  font-family: $font-stack;
  font-weight: 700;

  border: none;
  background-color: var(--accent-color);
  transition: background-color 0.03s;

  &:hover {
    background-color: var(--accent-color2);
    transition: background-color 0.1s cubic-bezier(0.19, 0.98, 0.57, 0.99);
  }

  &:active {
    color: var(--main-color--hover);
  }
}

.button--square {
  display: flex;
  justify-content: start;

  padding: 1.2em 3em 1.1em 1.25em;
  border-radius: 10px;

  font-size: 1.125rem;
  color: var(--main-color--lighter2);

  &::after {
    content: "";
    position: absolute;
    right: 25px;
    top: calc(50% - 6px);

    width: 12px;
    height: 12px;

    background-color: var(--main-color--lighter2);
    transform: rotate(135deg);
    clip-path: polygon(0% 0%, 100% 25%, 25% 100%);

    transition: background-color 0.03s;
  }
}

.button--square:active::after {
  opacity: 0.3;
}

.button--round {
  align-items: center;
  justify-content: center;

  padding: 0.7em 1em 0.75em;
  border-radius: 25px;

  font-size: 1.0625rem;
  font-weight: 700;
  line-height: 127%;

  text-align: center;
  text-transform: uppercase;

  color: var(--main-color);

  @media (min-width: $mobile-width + 140px) {
    padding: 0.67em 1.45em 0.6em;
    font-size: 1.25rem;
  }
}

///////////////////////////////////
//     Раскладка на планшете     //
///////////////////////////////////

@media (min-width: $tablet-width) {
  .button--square {
    height: 80px;
    padding: 1.23em 3.25em 1.15em 1.34em;

    font-size: 1.5rem;
    line-height: 100%;

    border-radius: 20px;

    &::after {
      right: 38px;
    }
  }
}
