.button {
  position: relative;

  justify-content: center;
  align-items: center;

  font-weight: 700;

  border-radius: 20px;
  background-color: var(--accent-color);
}

.button--square {
  display: inline-flex;

  color: var(--main-color--lighter2);

  &::after {
    content: '';
    position: absolute;
    right: 38px;
    top: calc(50% - 6px);

    width: 12px;
    height: 12px;

    background-color: var(--main-color--lighter2);
    transform: rotate(135deg);
    clip-path: polygon(0% 0%, 100% 25%, 25% 100%);
  }
}

.button--round {
  align-items: center;
  justify-content: center;

  padding: 0.97em 1em 0.75em;
  border-radius: 25px;

  font-size: 1.0625rem;
  font-weight: 700;
  line-height: 127%;

  text-align: center;
  text-transform: uppercase;

  color: var(--main-color);

  transition: background-color 0.03s;

  &:hover {
    background-color: var(--accent-color2);
    transition: background-color 0.1s cubic-bezier(.19,.98,.57,.99);
  }

  &:active {
    color: var(--main-color--hover);
  }

  @media (min-width: $mobile-width + 140px) {
    padding: 0.67em 1.45em 0.6em;
    font-size: 1.25rem;
  }
}

///////////////////////////////////
//     Раскладка на планшете     //
///////////////////////////////////

@media (min-width: $tablet-width ) {
  .button--square {

    height: 80px;
    padding: 1.2em 1.37em 1.15em;

    font-size: 1.5rem;
    line-height: 100%;
  }
}
