.companions {
  position: relative;
  z-index: 7;

  padding: calc(var(--section-br) + 4.25em) var(--page-padding) 9.5%;
  border-radius: 0 0 var(--section-br) var(--section-br);
  margin: calc(-1 * var(--section-br)) 0 0;
  background: url("../img/rogovaya-back-mobile@1x.jpg") no-repeat top 337px left
      0/62px 71px,
    var(--main-color--lighter) url("../img/smolov-back-desktop@1x.jpg")
      no-repeat top 65px right 14%/143px 143px;

  @media (min-resolution: 2dppx) {
    background: url("../img/rogovaya-back-mobile@2x.jpg") no-repeat top 337px
        left 0/62px 71px,
      var(--main-color--lighter) url("../img/smolov-back-desktop@2x.jpg")
        no-repeat top 65px right 14%/143px 143px;
  }

  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 64px;
    left: -20px;

    width: 132px;
    height: 132px;
    background-color: var(--main-color--darker3);
    border-radius: 20px;
  }
}

.companions__heading {
  padding: 0;
  margin: 0 calc(var(--page-padding--wider) - var(--page-padding)) 0.785em;
}

.companions__paragraph {
  max-width: 80%;
  margin: 0 calc(var(--page-padding--wider) - var(--page-padding)) 1.33em;

  font-weight: 300;
  line-height: 137%;

  color: var(--ternary-color);

  &--bold {
    font-weight: 700;
    margin-bottom: 3.4em;
  }
}

.companions__list {
  width: max-content;
  padding: 0;
  margin: 0 auto calc(7.7% - 0px);

  list-style: none;
}

.companions__item {
  padding: 0;
  margin-bottom: 9px;

  &:last-of-type {
    margin-bottom: 0;
  }
}

//////////////
//  Карточка пользователя
/////////////

.companions__user-card {
  position: relative;
  display: flex;
  flex-direction: column;

  width: 270px;

  border-radius: 10px;
  overflow: hidden;

  transition: box-shadow 0.2s ease-in-out;

  .user-card__photo-container {
    width: 100%;
    max-height: 270px;

    overflow: hidden;
  }

  .user-card__level {
    position: absolute;
    top: 17px;
    left: 17px;
  }

  .user-card__level-par {
    position: absolute;
    z-index: 1;

    color: var(--ternary-color);
  }

  .user-card__level-svg {
    position: absolute;
  }

  .user-card__container {
    display: flex;
    flex-direction: column;

    padding: 1.7em 1.5em 1.13em;
  }

  .user-card__flags-list {
    position: absolute;
    top: 273px;
    left: 50%;

    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;

    transform: translate(-50%, -50%);
  }

  .user-card__flags-item {
    padding: 0;
    margin: 0 9.5px;
  }

  .user-card__flags-svg {
    width: 36px;
    height: 27px;
  }

  .user-card__name {
    position: relative;

    max-width: 80%;
    padding: 0;
    margin: 0 auto 0.7em;

    text-align: center;

    &::before {
      top: 0.3em;
      left: -17px;
    }
  }

  .user-card__hashtags-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    max-width: 90%;
    padding: 0;
    margin: 0 auto 1.02em;

    list-style: none;
  }

  .user-card__hashtags-item {
    padding: 0;
    margin: 0 0.15em;
  }

  .user-card__icon-list {
    display: flex;
    flex-wrap: wrap;

    padding: 0;
    margin: 0 auto;

    list-style: none;
  }

  .user-card__icon-item {
    padding: 0;
    margin: 0 0.43em;

    opacity: 0.15;

    &--preferred {
      opacity: 1;
    }

    & svg {
      fill: var(--main-color--darker);
    }
  }
}

// Кнопочка

.companions__button {
  width: 270px;
  margin: 0 auto;
}

///////////////////////////////////
//     Раскладка на планшете     //
///////////////////////////////////

@media (min-width: $tablet-width) {
}

///////////////////////////////////
//     Раскладка на десктопе     //
///////////////////////////////////

@media (min-width: $desktop-width) {
}
