.contact-us {
  position: relative;
  z-index: 4;

  padding: calc(var(--section-br) + 5% + 15px) var(--page-padding)
    calc(5% + 20px);
  margin: calc(-1 * var(--section-br)) 0 0;

  border-radius: 0 0 var(--section-br) var(--section-br);
  background-color: var(--accent-color);
}

.contact-us__wrapper {
  max-width: 270px;
  margin: 0 auto;
}

.contact-us__top {
  display: flex;
  align-items: center;

  margin-bottom: 33px;
}

.contact-us__icon {
  width: 45px;
  height: 45px;

  margin-right: 16px;
}

.contact-us__street-address {
  padding: 0;
  margin: 0;

  font-size: 1rem;
  font-weight: 700;
  line-height: 137%;

  text-transform: uppercase;
}

.contact-us__make-route {
  padding: 1em 3em 1em 1.07em;

  border: 3px solid var(--main-color--lighter);

  transition: all 0.17s ease-in-out;

  &::after {
    transition: all 0.17s ease-in-out;
  }

  &:hover {
    background-color: var(--main-color--lighter);
    color: var(--ternary-color);

    transition: all 0.05s ease-in-out;

    &::after {
      background-color: var(--ternary-color);
      transition: all 0.05s ease-in-out;
    }
  }

  &:active {
    background-color: var(--main-color--lighter);
    color: var(--ternary-color--transparent);
    opacity: 1;

    transition: all 0.02s ease-in-out;

    &::after {
      background-color: var(--ternary-color--transparent);
      opacity: 1;

      transition: all 0.02s ease-in-out;
    }
  }
}

///////////////////////////////////
//     Раскладка на планшете     //
///////////////////////////////////

@media (min-width: $tablet-width) {
  .contact-us {
    padding: calc(var(--section-br) + 5% + 9px) var(--page-padding--wider)
      calc(5% + 47px);
  }

  .contact-us__wrapper {
    max-width: unset;
  }

  .contact-us__top {
    margin-bottom: 44px;
  }

  .contact-us__icon {
    width: 68px;
    height: 68px;

    margin-right: 26px;
  }

  .contact-us__street-address {
    font-size: 1.75rem;

    br {
      display: none;
    }
  }

  .contact-us__make-route {
    padding: 1.05em 3em 1em 1.45em;
  }
}

///////////////////////////////////
//     Раскладка на десктопе     //
///////////////////////////////////

@media (min-width: $desktop-width) {
  .contact-us {
    padding: calc(var(--section-br) + 3.5% + 5px) var(--page-padding--wider)
      calc(3.5% + 8px) var(--page-padding--wider);
  }

  .contact-us__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .contact-us__top {
    margin: 0;
  }

  .contact-us__icon {
    width: 90px;
    height: 90px;

    margin-right: 30px;
  }

  .contact-us__make-route {
    min-width: max-content;
    width: calc(50% - 200px);
    max-width: 500px;
  }
}
