.find-us {
  margin: calc(-1 * var(--section-br)) 0 0;
  background: center cover url("../img/map-mobile@1x.jpg");
}

.find-us__map {
  padding: calc(20% + 136px) 0;
  background: center / cover no-repeat url("../img/map-mobile@1x.jpg");

  @media (min-resolution: 2dppx) {
    background-image: url("../img/map-mobile@2x.jpg");
  }
}
