.find-us {
  margin: -110px 0 0;

  background: center top / 600px no-repeat url("../img/map-mobile@1x.jpg");

  @media (min-resolution: 2dppx) {
    background-image: url("../img/map-mobile@2x.jpg");
  }
}

.find-us__map {
  padding: calc(20% + 176px) 0;
}
