.got-interested {
  position: relative;
  z-index: 5;

  padding: calc(var(--section-br) + 4.5em) var(--page-padding) calc(10% - 3px);
  margin: calc(-1 * var(--section-br)) 0 0;

  border-radius: 0 0 var(--section-br) var(--section-br);

  background-color: var(--main-color--lighter);
}

.got-interested__heading {
  padding: 0;
  margin: 0 0 0.78em;

  text-align: center;
}

.got-interested__paragraph {
  margin: 0 auto;

  text-align: center;

  font-size: 1rem;
  font-weight: 300;
  line-height: 137%;

  color: var(--ternary-color);
}

.got-interested__paragraph--top {
  max-width: 200px;

  margin-bottom: 1.85em;
}

.got-interested__form {
  max-width: 360px;
  margin: 0 auto 1.8em;
}

.one-input-form__submit-button-span {
  display: none;
}

.got-interested__paragraph--bottom {
  margin-bottom: 1.1em;

  letter-spacing: 0.01em;
}

.got-interested__contact-methods {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: start;

  width: max-content;
  margin: 0 auto;

  .contact-methods__item {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;

    max-width: 280px;
  }

  .contact-methods__icon {
    flex-shrink: 0;
    margin-right: 8px;
  }

  .contact-methods__link {
    position: static;
    padding-right: 1.3em;

    color: var(--accent-color);
    transform: none;

    transition: all 0.1s;
  }
  .contact-methods__link:hover {
    color: var(--accent-color2);
    transition: color 0.02s;
  }
  .contact-methods__link:active {
    opacity: 0.3;
  }
  .contact-methods__link:active + .contact-methods__icon {
    opacity: 0.3;
  }

  @media (min-width: $mobile-width + 140px) {
    font-size: 1rem;
  }
}

///////////////////////////////////
//     Раскладка на планшете     //
///////////////////////////////////

@media (min-width: $tablet-width) {
  .got-interested {
    padding: calc(var(--section-br) + 4.5em) var(--page-padding--wider)
      calc(5% + 23px);
  }

  .got-interested__heading {
    margin-bottom: 1.26em;
  }

  .got-interested__paragraph {
    font-size: 1.75rem;
    line-height: 115%;
  }

  .got-interested__paragraph--top {
    max-width: unset;

    margin-bottom: 2.3em;

    .got-interested__mobile-br {
      display: none;
    }
  }

  .got-interested__form {
    max-width: unset;
    margin-bottom: 3.68em;
  }

  .one-input-form__submit-button {
    width: 80px;
    border-radius: 0 20px 20px 0;
  }

  .got-interested__paragraph--bottom {
    margin-bottom: unquote("max(calc(10% - 23px), 1.3em)");

    br {
      display: none;
    }
  }

  .got-interested__contact-methods {
    align-items: flex-end;
    width: content;
    margin: 0 auto;

    font-size: 1.75rem;

    .contact-methods__item {
      max-width: unset;
      min-height: 68px;
    }

    .contact-methods__link {
      left: 78px;
    }

    .contact-methods__icon {
      width: 68px;
      height: 68px;
    }
  }
}

///////////////////////////////////
//     Раскладка на десктопе     //
///////////////////////////////////

@media (min-width: $desktop-width) {
  .got-interested {
    padding: calc(var(--section-br) + 5% + 35px) var(--page-padding--wider)
      calc(5% + 29px);
  }

  .got-interested__heading {
    margin-bottom: 1.2em;
  }

  .got-interested__paragraph--top {
    margin-bottom: 2.05em;
  }

  .got-interested__form {
    max-width: 1200px;
    margin-bottom: 4.35em;
  }

  .one-input-form__submit-button {
    width: auto;
  }

  .one-input-form__submit-button-span {
    display: block;

    padding-right: 155px;
    padding-left: 1.5em;
  }

  .got-interested__paragraph--bottom {
    margin-bottom: calc(10% - 75px);
  }

  .got-interested__contact-methods {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: auto;
    max-width: 900px;

    .contact-methods__item {
      display: flex;
      align-items: center;
      flex-direction: row-reverse;
    }

    .contact-methods__icon {
      height: 90px;
      width: 90px;
    }

    .contact-methods__link {
      position: static;
      transform: none;
    }
  }
}
