$promo-bg-height: 478px;

.promo {
  position: relative;
  z-index: 10;

  padding: calc(#{$promo-bg-height} + 3rem) 0 0;
  margin: 0;

  background-color: var(--main-color);
}

.promo__bg {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: $promo-bg-height;

  background: url("../img/globe-back-mobile@1x.jpg") no-repeat bottom 0 left -3px;
  background-size: 350px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/globe-back-mobile@2x.jpg");
  }
}

.promo__bg-img {
  position: absolute;
  top: 222px;
  right: 48px;
}

.promo__page-heading {
  position: absolute;
  top: unquote("calc(var(--header-top-height) + 21px)");
  left: 50%;
  z-index: 2;

  width: 83%;
  padding: 0;
  margin: 0;
  text-align: center;

  transform: translateX(-50%);
}

.promo__contact-methods-mini {
  $promo-contacts-height: 40px;

  position: absolute;
  top: $promo-bg-height - $promo-contacts-height / 2;
  right: var(--page-padding);
  z-index: 2;

  display: flex;

  height: 40px;
  min-width: 240px;
  width: calc(100% - var(--page-padding) * 2);

  .contact-methods-mini__link {
    display: block;
    width: 40px;
    height: 40px;
  }

  .contact-methods__svg {
    transform: scale(0.8);
  }
}

.promo__authorize-button {
  flex-grow: 1;

  max-width: 225px;
  margin-left: auto;

  font-size: 1.0625rem;
}

.promo__epigraph {
  z-index: 1;
  display: grid;

  max-width: 170px;
  padding: 0;
  margin: 0 var(--page-padding) 1.8em var(--page-padding--wider);
  color: white;
}

.promo__quote {
  padding: 0;
  margin: 0;
  margin-bottom: 1.1em;

  font-size: 1rem;
  font-weight: 300;
  line-height: 137%;
}

.promo__quote-footer {
  font-weight: 700;
  font-size: 1rem;
  line-height: 137%;

  &--w-i-d-e {
    letter-spacing: 0.03em;
  }
}

@media (min-width: $mobile-width + 190px) {
  .promo__epigraph {
    grid-template-columns: 1fr 1fr;
    align-items: center;

    max-width: none;
  }

  .promo__quote {
    margin-bottom: 0;
  }

  .promo__quote-footer {
    text-align: right;
  }
}

//
//  Список "что делать?"
//

.promo__what-to-do {
  padding: 0 0 39px;
  margin: 0;

  background: linear-gradient(
    to bottom,
    transparent calc((100% - 39px) / 4),
    var(--main-color--lighter) calc((100% - 39px) / 4)
  );
}

.what-to-do__list {
  counter-reset: what-to-do-items;

  display: grid;

  padding: 0;
  margin: 0 var(--page-padding);

  font-size: 1.125rem;
  font-weight: 700;
  line-height: 100%;

  list-style: none;
}

.what-to-do__item {
  counter-increment: what-to-do-items;

  position: relative;

  min-height: 80px;
  padding: 1.25em 1.33em calc(1.2em + 20px);
  margin: -20px 0 0;

  border-radius: 10px;

  color: var(--main-color--desktop);

  &::after {
    content: counter(what-to-do-items);
    position: absolute;
    top: 1.22em;
    right: 1.2em;

    color: var(--ternary-color);
  }
}

.what-to-do__item:nth-of-type(1) {
  margin-top: 0;

  background-color: var(--accent-color4);
}

.what-to-do__item:nth-of-type(2) {
  background-color: var(--accent-color3);
}

.what-to-do__item:nth-of-type(3) {
  background-color: var(--accent-color2);
}

.what-to-do__item:nth-of-type(4) {
  padding-bottom: 1.2em;

  background-color: var(--accent-color);
}

///////////////////////////////////
//     Раскладка на планшете     //
///////////////////////////////////

@media (min-width: $tablet-width) {
  $promo-bg-height: 994px;
  $promo-padding-bottom: 56px;

  .promo {
    min-height: 1230px;
    padding: 162px 0 $promo-padding-bottom;

    background-color: var(--main-color--tablet);
  }

  .promo__bg {
    top: unset;
    bottom: 236px;

    height: $promo-bg-height;

    background: url("../img/globe-back-tablet@1x.jpg") no-repeat bottom 0 left -358px;
    background-size: 1479px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/globe-back-tablet@2x.jpg");
    }
  }

  .promo__bg-img {
    top: unset;
    bottom: 138px;
    right: 111px;
  }

  .promo__page-heading {
    position: static;

    margin: 0 auto 1.43em;
    transform: none;
  }

  .promo__contact-methods-mini {
    display: none;
  }

  .promo__epigraph {
    position: relative;
    grid-template-columns: 1fr;

    max-width: 270px;
    margin: 0 var(--page-padding) 211px calc(var(--page-padding) + 33px);
  }

  .promo__quote {
    max-width: 270px;
    margin-bottom: 1.6em;

    font-size: 1.75rem;
    line-height: 118%;
  }

  .promo__quote-footer {
    max-width: 270px;
    margin-bottom: 155px;

    font-size: 1.3125rem;
    line-height: 119%;
    text-align: left;

    &--w-i-d-e {
      letter-spacing: 0.017em;
    }
  }

  //
  //  Список "что делать?"
  //

  .promo__what-to-do {
    position: absolute;
    bottom: $promo-padding-bottom;
    left: 0;

    width: 100%;
    background: transparent;
  }

  .what-to-do__list {
    grid-template-columns:
      [grid-start] 50% [overlap-start] 20px [overlap-end] calc(50% - 20px)
      [grid-end];

    font-size: 1.5rem;
    line-height: 100%;
  }

  .what-to-do__item {
    min-height: 140px;
    margin: 0;

    border-radius: initial;

    font-size: 1.5rem;
    line-height: 100%;

    &::after {
      top: initial;
      left: initial;

      bottom: 0.85em;
      left: 1.15em;

      font-size: 1.825rem;
    }
  }

  .what-to-do__item:nth-of-type(1) {
    grid-column: grid-start / overlap-end;
    grid-row: 1 / 2;
    border-radius: 20px 0 0 0;
  }

  .what-to-do__item:nth-of-type(2) {
    grid-column: overlap-start / grid-end;
    grid-row: 1 / 2;
    border-radius: 20px 20px 0 0;
  }

  .what-to-do__item:nth-of-type(3) {
    grid-column: grid-start / overlap-end;
    grid-row: 2 / 3;
    border-radius: 0 0 0 20px;
  }

  .what-to-do__item:nth-of-type(4) {
    grid-column: overlap-start / grid-end;
    grid-row: 2 / 3;
    border-radius: 0 0 20px 20px;
  }
}

///////////////////////////////////
//     Раскладка на десктопе     //
///////////////////////////////////

@media (min-width: $desktop-width + 60px) {
  $promo-bg-height: 750px;

  .promo {
    min-height: $promo-bg-height;
    padding: 209px var(--page-padding) 0;

    background-color: var(--main-color--desktop);
  }

  .promo__bg {
    bottom: 0;

    height: $promo-bg-height;

    background: url("../img/globe-back-desktop@1x.jpg") no-repeat bottom 0 left -180px;
    background-size: 1800px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/globe-back-desktop@2x.jpg");
    }
  }

  .promo__bg-img {
    bottom: 0px;
    right: calc(20% + 117px);
  }

  .promo__page-heading {
    float: left;

    position: relative;
    top: initial;
    left: initial;
    z-index: 1;

    width: auto;
    max-width: 35%;
    margin: 0 0 100px 5%;

    text-align: left;
  }

  .promo__epigraph {
    float: right;

    position: relative;
    top: initial;
    z-index: 1;

    margin: 10px 18px 115px 0;
  }

  .promo__quote-footer {
    margin-bottom: 0;
  }

  //
  //  Список "что делать?"
  //

  .promo__what-to-do {
    position: static;
    clear: both;

    padding: 0;
    background: transparent;
  }

  .what-to-do__list {
    display: flex;

    width: 100%;
    margin: 0;
  }

  .what-to-do__item {
    min-height: 107px;
    padding: 1.25em 1.33em 1.2em;

    &::after {
      bottom: initial;
      left: initial;
      top: 1.25em;
      right: 73px;

      font-size: 1.5rem;
    }
  }

  .what-to-do__item:nth-of-type(n) {
    border-radius: 20px;
    margin-right: -40px;
  }

  .what-to-do__item:nth-of-type(1) {
    flex-grow: 1.65;
  }

  .what-to-do__item:nth-of-type(2) {
    flex-grow: 1.35;
  }

  .what-to-do__item:nth-of-type(3) {
    flex-grow: 1.5;
  }

  .what-to-do__item:nth-of-type(4) {
    flex-grow: 1;
    margin-right: 0;

    &::after {
      right: 33px;
    }
  }
}
