.section-heading {
  font-size: 1.5rem;
  line-height: 100%;

  color: var(--accent-color4);
}

///////////////////////////////////
//     Раскладка на планшете     //
///////////////////////////////////

@media (min-width: $tablet-width) {

}


///////////////////////////////////
//     Раскладка на десктопе     //
///////////////////////////////////

@media (min-width: $desktop-width) {

}
